@import "~bootstrap/scss/bootstrap";

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 100%;
}

.bold {
  font-weight: bold;
}
.link {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}