.BackButton {
  color: white;
  border: none;
  background: #3f3c3c;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 576px) {
  .BackButton {
    margin-top: 58px;
  }
}