.Header {
  nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0;
      font-weight: bold;
      color: #3f3c3c;
      span {
        color: #ccb245;
      }
    }
    .dropdown {
      color: white;
    }
  }

}